<link rel="stylesheet" href="/styles/edit.css">

<div class="row">
    <div class="col pageHeader">
        <h1>Create New</h1>
    </div>
    <div class="col-3 buttonWrapper">
        <div class="right">
            <button type="button" class="btn btn-info someSpace"
                onclick="get('customers/<%= customer.id %>')">Back</button>
            <button type="button" class="btn btn-success someSpace"
                onclick="post(document.getElementById('createForm'))">Submit</button>
        </div>
    </div>
</div>
<!-- <button onclick="get('customers')">Home</button> -->
<div style="padding-bottom: 40px;">
    <form id="createForm" action="/customers" method="POST">
        <div class="form-row">
            <div class="form-group col">
                <label for="firstName">First Name:</label>
                <input class="form-control" type="text" id="firstName" name="customer[firstName]" placeholder="Required"
                    required>
            </div>
            <div class="form-group col">
                <label for="lastName">Last Name:</label>
                <input class="form-control" type="text" id="lastName" name="customer[lastName]">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="phoneNumber">Phone Number:</label>
                <input class="form-control" type="tel" id="phoneNumber" name="customer[phoneNumber]"
                    placeholder="Required" required>
            </div>
            <div class="form-group col">
                <label for="email">Email:</label>
                <input class="form-control" type="email" id="email" name="customer[email]">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="ballName">Ball Name:</label>
                <input class="form-control" type="text" id="ballName" name="layout[ballName]">
            </div>
        </div>

        <hr>
        <div class="form-row square-group">
            <div class="col-4">
                <div class="float-right square">
                    <textarea class="pitchTextArea" id="middleForwardPitch"
                        name="layout[middleForwardPitch]"></textarea>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <div class="float-left square">
                    <textarea class="pitchTextArea" id="ringForwardPitch" name="layout[ringForwardPitch]"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row square-group">
            <div class="col-4">
                <div class="float-right square">
                    <textarea class="pitchTextArea" id="middleSidePitchL" name="layout[middleSidePitchL]"></textarea>
                </div>
            </div>
            <div class="col-4">
                <div class="row float-center square-lg">
                    <div class="col mpzero">
                        <textarea class="pitchTextArea" id="middleSidePitchR"
                            name="layout[middleSidePitchR]"></textarea>
                    </div>
                    <div class="col mpzero">
                        <textarea class="pitchTextArea" id="ringSidePitchL" name="layout[ringSidePitchL]"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="float-left square">
                    <textarea class="pitchTextArea" id="ringSidePitchR" name="layout[ringSidePitchR]"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row square-group">
            <div class="col-4">
                <div class="float-right square">
                    <textarea class="pitchTextArea" id="middleReversePitch"
                        name="layout[middleReversePitch]"></textarea>
                </div>
            </div>
            <div class="col-4">
                <div class="row float-center square-lg">
                    <div class="col mpzero">
                        <textarea class="pitchTextArea" id="middleHoleSize" name="layout[middleHoleSize]"></textarea>
                    </div>
                    <div class="col mpzero">
                        <textarea class="pitchTextArea" id="ringHoleSize" name="layout[ringHoleSize]"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="float-left square">
                    <textarea class="pitchTextArea" id="ringReversePitch" name="layout[ringReversePitch]"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row square-group ">
            <div class="col d-flex justify-content-center">
                <div class="square">
                    <textarea class="pitchTextArea" id="middleActual" name="layout[middleActual]"></textarea>
                    <label for="middleActual">Actual</label>
                </div>
                <div class="square">
                    <textarea class="pitchTextArea" id="middleCut" name="layout[middleCut]"></textarea>
                    <label for="middleActual">Cut</label>
                </div>
                <div class="square"></div>
                <div class="square">
                    <textarea class="pitchTextArea" id="ringActual" name="layout[ringActual]"></textarea>
                    <label for="middleActual">Actual</label>
                </div>
                <div class="square">
                    <textarea class="pitchTextArea" id="ringCut" name="layout[ringCut]"></textarea>
                    <label for="middleActual">Cut</label>
                </div>
            </div>
        </div>

        <br>

        <div class="form-row square-group">
            <div class="col">
                <div class="float-center square">
                    <textarea class="pitchTextArea" id="thumbForwardPitch" name="layout[thumbForwardPitch]"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row square-group">
            <div class="col d-flex justify-content-center">
                <div class="square">
                    <textarea class="pitchTextArea" id="thumbSidePitchL" name="layout[thumbSidePitchL]"></textarea>
                </div>
                <div class="square thumbSpace">
                    <textarea class="pitchTextArea" id="ovalAngle" name="layout[ovalAngle]"></textarea>
                </div>
                <div class="square">
                    <textarea class="pitchTextArea" id="thumbSidePitchR" name="layout[thumbSidePitchR]"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row square-group" style="padding-bottom: 20px;">
            <div class="col">
                <div class="float-center square">
                    <textarea class="pitchTextArea" id="thumbReversePitch" name="layout[thumbReversePitch]"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-6">
                <label for="middleInsertSize">Middle Insert Size:</label>
                <input type="text" class="form-control" id="middleInsertSize" name="layout[middleInsertSize]">

                <label for="ringInsertSize">Ring Insert Size:</label>
                <input type="text" class="form-control" id="ringInsertSize" name="layout[ringInsertSize]">

                <label for="bridgeSpacing">Bridge Spacing:</label>
                <input type="text" class="form-control" id="bridgeSpacing" name="layout[bridgeSpacing]">
            </div>
            <div class="col-6">
                <textarea class="form-control" id="notes" name="customer[notes]" id="notes" cols="30" rows="10"
                    placeholder="Notes" style="resize: none"></textarea>
            </div>
        </div>
    </form>
</div>