<% include partials/header %>
<h1>Mikes App!</h1>
<ul id="people">
    <% for(i = 0; i < people.length; i++) { %>
        <li><%= people[i].contactInfo.firstName %></li>
    <% } %>
</ul>
<% include partials/footer %>