<% include ./partials/header %>
<h1>Create New Customer</h1>
<form action="/customers" method="POST">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="customer[firstName]" placeholder="First Name" required>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="customer[lastName]" placeholder="Last Name">

    <label for="phoneNumber">Phone Number:</label>
    <input type="number" id="phoneNumber" name="customer[phoneNumber]" placeholder="Phone Number" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="customer[email]" placeholder="example@email.com">

    <label for="notes">Notes:</label>
    <textarea id="notes" name="customer[notes]" id="notes" cols="30" rows="10" placeholder="Notes"></textarea>
    <br>
    <br>
    <label for="ballName">Ball Name:</label>
    <input type="text" id="ballName" name="layout[ballName]">

    <label for="middleForwardPitch">Middle Forward Pitch:</label>
    <input type="text" id="middleForwardPitch" name="layout[middleForwardPitch]">

    <label for="middleSidePitchL">Middle Side Pitch L:</label>
    <input type="text" id="middleSidePitchL" name="layout[middleSidePitchL]">

    <label for="middleSidePitchR">Middle Side Pitch R:</label>
    <input type="text" id="middleSidePitchR" name="layout[middleSidePitchR]">

    <label for="middleReversePitch">Middle Reverse Pitch:</label>
    <input type="text" id="middleReversePitch" name="layout[middleReversePitch]">

    <label for="middleHoleSize">Middle Hole Size:</label>
    <input type="text" id="middleHoleSize" name="layout[middleHoleSize]">

    <label for="middleInsertSize">Middle Insert Size:</label>
    <input type="text" id="middleInsertSize" name="layout[middleInsertSize]">

    <label for="ringForwardPitch">Ring Forward Pitch:</label>
    <input type="text" id="ringForwardPitch" name="layout[ringForwardPitch]">

    <label for="ringSidePitchL">Ring Side Pitch L:</label>
    <input type="text" id="ringSidePitchL" name="layout[ringSidePitchL]">

    <label for="ringSidePitchR">Ring Side Pitch R:</label>
    <input type="text" id="ringSidePitchR" name="layout[ringSidePitchR]">

    <label for="ringReversePitch">Ring Reverse Pitch:</label>
    <input type="text" id="ringReversePitch" name="layout[ringReversePitch]">

    <label for="ringHoleSize">Ring Hole Size:</label>
    <input type="text" id="ringHoleSize" name="layout[ringHoleSize]">

    <label for="ringInsertSize">Ring Insert Size:</label>
    <input type="text" id="ringInsertSize" name="layout[ringInsertSize]">

    <label for="bridgeSpacing">Bridge Spacing:</label>
    <input type="text" id="bridgeSpacing" name="layout[bridgeSpacing]">

    <label for="middleActual">Middle Actual:</label>
    <input type="text" id="middleActual" name="layout[middleActual]">

    <label for="middleCut">Middle Cut:</label>
    <input type="text" id="middleCut" name="layout[middleCut]">

    <label for="ringActual">Ring Actual:</label>
    <input type="text" id="ringActual" name="layout[ringActual]">

    <label for="ringCut">Ring Cut:</label>
    <input type="text" id="ringCut" name="layout[ringCut]">

    <label for="thumbForwardPitch">Thumb Forward Pitch:</label>
    <input type="text" id="thumbForwardPitch" name="layout[thumbForwardPitch]">

    <label for="thumbReversePitch">Thumb Reverse Pitch:</label>
    <input type="text" id="thumbReversePitch" name="layout[thumbReversePitch]">

    <label for="thumbSidePitchL">Thumb Side Pitch L:</label>
    <input type="text" id="thumbSidePitchL" name="layout[thumbSidePitchL]">

    <label for="thumbSidePitchR">Thumb Side Pitch R:</label>
    <input type="text" id="thumbSidePitchR" name="layout[thumbSidePitchR]">

    <label for="ovalAngle">Oval Angle:</label>
    <input type="text" id="ovalAngle" name="layout[ovalAngle]">

    <input type="submit">
</form>
<% include ./partials/footer %>