body {
    /* just to make sure the css is loading */
    background: white;
}

#listHeader {
    height: 5rem;
    display: flex;
    align-items: center;
}

#createNewButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#listItemButton {
    text-align: right;
}